body{
    background-color: white;
}
#container{
    background-color: rgb(198, 255, 228);
    width: auto;
}
#cim{
    text-align: center;
    font-size: 25px;
}
#helyek{
    padding: 20px;
}
li{
    font-weight: 500;
}
#térlép{
    }
ul img{
    width: 150px;
    margin-left: auto;
    margin-right: 0;
    display: block;
}